
	.logo {
		width: 100px;
	}
	li {
		font-family: 'Helvetica';
		font-weight: bold;
		list-style: none;
		display: flex;
	}
	li:hover {
		background-color: #aaaaaa;
	}
	ul {
		margin-top: 50px;
		margin-left: 50px;
		margin-right: 50px;
	}
	@media (max-width: 1024px) {
		.col-sm {
			min-width: 100%;
		}
		li {
			padding: 20px;
		}
		i {
			padding-right: 15px;
		}
		.logo {
			padding: 20px;
			width: 140px;
		}
	}
	.col-sm {
		border: 1px solid black;
	}
	.overlay-container {
		height: 100%;
		width: 100%;
		position: fixed;
		background-color: rgb(0,0,0);
		background-color: rgba(0,0,0, 0.5);
		z-index: 10;

	}
	.loading-modal-container {
		height: 300px;
		width: 300px;
		background-color: white;
		text-align: center;

	    margin: auto;
	    position: absolute;
	    top: 0; left: 0; bottom: 0; right: 0;
	}
	#loading-icon-container {
	    margin: auto;
	    position: absolute;
	    top: 0; left: 0; bottom: 0; right: 0;
	    margin-top: calc(50% - 28px);
	}
